
<div class="font-70 text-center space_50">About</div>

<p class="text-center about">
  「NOKAN」は、農業高校生のための農業鑑定競技の勉強サイトです。</br>
  ランダムで40問出題される模試や、</br>
  項目をカテゴリごとに検索できる機能があります。</br>
  また、農業高校生同士で交流できる掲示板もあります。</br>
  ぜひご利用ください。
</p>