
<div class="width-90p">

<div class="outline center top-area">
  <p>
    ようこそ、「NOKAN」へ！</br>
    このサイトは農業鑑定競技の勉強と</br>
    農高生同士の交流ができる無料学習サイトになります。</br>
    会員でない方もサイト全体の閲覧は可能ですが、</br>
    模試の記録保存、掲示板への投稿、ブックマークなど、</br>
    様々な機能を利用するには会員登録が必要になります。
  </p>
</div>



<div class="center top-category">
  <% @large_categories.each do |large_category| %>
  <br/>
  <div class="row top-category-item">
    <span class="font_weight col-4 text-right-send big-font"><%= large_category.name %></span>
    <%= link_to "勉強する", categories_path(large_category_id: large_category.id), class: 'btn btn-success btn-sm' %>
    <%= link_to "模試をする", quizzes_path(large_category_id: large_category.id), class: 'btn btn-primary btn-sm left-space-5' %>
  </div>
  <% end %>

</div>
</div>