
<div class="width-90p center">

<div class="center top-area space_30 width-100p">
  <p class="top-text text-center">
    ようこそ、「NOKAN」へ！</br>
    このサイトは農業鑑定競技の勉強と</br>
    農高生同士の交流ができる無料学習サイトになります。</br>
    会員でない方もサイト全体の閲覧は可能ですが、</br>
    模試の記録保存、掲示板への投稿、ブックマークなど、</br>
    様々な機能を利用するには会員登録が必要になります。
    <div class="caution text-center">
      </br>
      こちらのサイトは、日本学校農業クラブ連盟からの</br>
      承認・後援を受けているわけではありません。</br>
      あくまで個人的な情報発信になりますので、</br>
      情報ミスなどについては日々改善してまいりますので</br>
      ご容赦ください。
    </div>
  </p>
</div>



<div class="column-2 center top-category">
  <% @large_categories.each do |large_category| %>
  <div class="space_15 ">
    <div class="width-100p top-category-item">
      <div class="font_weight top-large-name"><%= large_category.name %></div>
      <div class="mini-flex">
        <%= link_to "勉強する", categories_path(large_category_id: large_category.id), class: 'btn btn-success btn-sm study-btn' %>
        <%= link_to "模試をする", quizzes_path(large_category_id: large_category.id), class: 'btn btn-primary btn-sm left-space-5 mock-btn' %>
      </div>
    </div>
  </div>
  <% end %>

</div>
</div>