

<div>会員一覧</div>

<div>
  <% @customers.each do |customer| %>

  <table>

    <thead>
      <tr>
        <th>ID</th>
        <th>ユーザ名</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.name %></td>
        <td>
          <% if customer.is_active %>
            <div>有効</div>
          <% else %>
            <div>退会</div>
          <% end %>
        </td>
      </tr>
    </tbody>

  </table>

  <% end %>
</div>