

<div class="title">会員一覧</div>

<div>

  <table>

    <thead class="text-center">
      <tr>
        <th class="outline">ID</th>
        <th class="outline">ユーザ名</th>
        <th class="outline">ステータス</th>
      </tr>
    </thead>
    <% @customers.each do |customer| %>
    <tbody class="text-center">
      <tr>
        <td class="outline"><%= customer.id %></td>
        <td class="outline"><%= link_to customer.name, edit_admin_customer_path(customer.id) %></td>
        <td class="outline">
          <% if customer.is_active %>
            <div class="true">有効</div>
          <% else %>
            <div class="false">退会</div>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>

  </table>


</div>