
/*装飾*/

.title {
  background-color: #eee;
  display: inline-block;
  padding: 3px 30px;
  margin-bottom: 30px;
  font-weight: bold;
  margin-left: 20px;
  font-size: 22px;
}

.outline {
  border: solid 1px;
}

.no-deco {
  font-weight: initial;
}


/*配置調整*/
.center {
  margin: 0 auto;
}

.right-send {
  margin-right: 0;
  margin-left: auto;
}


/*文字*/
.font-12 {
  font-size: 12px;
}

.font-15 {
  font-size: 15px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-70 {
  font-size: 70px;
}

.text-right-send {
  text-align: right;
}

.text-right-send2 {
  float: right;
}

.font_weight {
  font-weight: bold;
}

.text-center {
  margin: 0 auto;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.top-bottom-text-center {
  vertical-align: middle;
}


/*調整空白*/

.space_2 {
  margin-bottom: 2px;
}

.space_2_2 {
  padding-bottom: 2px;
}

.space_5 {
  margin-bottom: 5px;
}

.space_10 {
  margin-bottom: 10px;
}

.space_15 {
  margin-bottom: 15px;
}

.space_30 {
  margin-bottom: 30px;
}

.space_50 {
  margin-bottom: 50px;
}

.space_50_2 {
  padding-bottom: 50px;
}


.top_10 {
  margin-top: 10px;
}

.top_30 {
  margin-top: 30px;
}

.top_50 {
  margin-top: 50px;
}

.top-area {
  width: 80%;
  padding: 30px;
  border: 1px solid #c0c0c0;
}

.left-space-5 {
  margin-left: 5px;
}

.left-space-10 {
  margin-left: 10px;
}

.left-space-20 {
  margin-left: 20px;
}

.left-space-30 {
  margin-left: 30px;
}

.left-space-40 {
  margin-left: 40px;
}

.left-space-50 {
  margin-left: 50px;
}

.left-space-60 {
  margin-left: 60px;
}

.left-space-80 {
  margin-left: 80px;
}


/*並び方*/
.flex {
  display: flex
}

.block {
  display: block;
}

/*ボーダー*/
.border-bottom {
  border-bottom: solid 1px;
}


/*幅*/

.width-100p {
  width: 100%;
}

.width-90p {
  width: 90%;
}

.width-80p {
  width: 80%;
}

.width-70p {
  width: 70%;
}

.width-60p {
  width: 60%;
}

.width-50p {
  width: 50%;
}


.width-40p {
  width: 40%;
}

.width-35p {
  width: 35%;
}

.width-30p {
  width: 30%;
}

.width-25p {
  width: 25%;
}

.width-20p {
  width: 20%;
}

.width-15p {
  width: 15%;
}

.width-10p {
  width: 10%;
}


.height-55 {
  height: 55px;
}

.height-100 {
  height: 100px;
}

.height-680 {
  height: 680px;
}


/*ページ固有*/
.top-category {
  width: 80%;
}

.top-category-item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

th, td {
  padding: 10px 5px;
}

/*ヘッダー*/

li {
  padding: 0 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

header {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.header-btn {
  border: solid 1px #c0c0c0;
  border-radius: 3px;
  color: black;
  text-decoration: none;
  padding: 8px 20px;
}

.list {
  width: 100%;
}

.logo {
  border: solid 1px;
  position: absolute;
  color: black;
  text-decoration: none;
  padding: 8px 30px;
  margin: 0 20px;
}

.welcome {
  position: absolute;
  width: 80%;
  margin: 30px 0 0 0;
  text-align: center;
}

/*ポップアップ*/

.pop-up {
  background-color: white;
  border: solid 1px;
  border-color: gray;
  display: none;
}

.image:hover + .pop-up {
  display: block;
  position: absolute;
  right: 5px;
}

.info-text {
  background-color: #EEE;
  border: solid 1px;
  display: none;
}

.info:hover + .info-text{
  position: absolute;
  display: block;
}

.item-index-pop-up {
  background-color: white;
  display: none;
  width: 200px;
  height: 200px;
}

.item-index-image:hover + .item-index-pop-up {
  display: block;
  position: absolute;
}

.pop-up-space {
  padding: 2px 2px;
}


/*掲示板*/

.board_card {
  border: solid 1px;
  padding: 5px;
}

.board_text {
  border: dashed 1px;
  padding: 5px;
  word-break: break-all;
}

.board_cate {
  padding: 0 5px;
}


/*模試*/
.maru {
  color: red;
}

.batu {
  color: blue;
}


/*その他*/

.scroll {
  overflow-y: scroll;
}

.column-2 {
  column-count: 2;
}

.avoid {
  break-inside: avoid;
}

.page {
  display: inline-block;
  margin: 0 5px;
}

footer {
  margin-top: 80px;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.space {
  margin: 0 20px;
}

.true {
  color: #00CC00;
}

.false {
  color: #bbb;
}

.flex-start {
  align-items: flex-start;
}

.board {
  align-self: flex-start;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/*テスト*/
.test {
  border: solid 1px;
}


/*スマホレスポンシブ対応*/

@media screen and (max-width:425px) {

  main {
    width: 100%;
  }

  header {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: solid 1px;
  }

  .logo {
    border: solid 1px;
    position: absolute;
    color: black;
    text-decoration: none;
    top: 15px;
    padding: 8px 20px;
    margin: 0 20px;
    font-size: 20px;
  }

  .top-area {
    font-size: 12px;
    padding: 10px;
  }

  .welcome {
    display: none;
  }

  .top-text {
    width: 100%;
  }

  .header-btn {
    border: solid 1px #c0c0c0;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 10px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 70px 0 0 0;
    padding: 0;
  }

  .top-large-name {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }

  .study-btn {
    font-size: 10px;
    width: 50%;
  }

  .mock-btn {
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    width: 50%;
  }

  .top-category-item {
    display: block;
    margin-bottom: 20px;
  }

  .mini-flex {
    display: flex;
  }

  .about {
    font-size: 15px;
  }

  .caution {
    font-size: 10px;
  }

  .title {
    font-size: 15px;
    padding: 3px 15px;
  }

  .sign-up-item {
    font-size: 15px;
  }

  .edit-customer {
    font-size: 13px;
    margin-left: 40px;
  }

  .list-link {
    font-size: 12px;
  }

  th {
    font-size: 11px;
  }

  td {
    font-size: 11px;
  }

  .small-btn {
    font-size: 11px;
  }

  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  .answer {
    width: 20%;
  }

  img {
    max-width: 100%;
  }

  .image:hover + .pop-up {
    display: block;
    position: absolute;
  }

  .answer-open {
    font-size: 13px;
  }

  .sp-font-10 {
    font-size: 10px;
  }

  .sp-width-60p {
    width: 60%;
  }

  .sp-font-12 {
    font-size: 12px;
  }

}

/**/