
<div><%= @large_category.name %></div>
<div>カテゴリ一覧</div>

</br>

<div>
  <% @medium_categories.each do |medium_category| %>
  </br>
  <div>中カテゴリ <%= medium_category.name %></div>
  </br>
  <label>小カテゴリ</label>
    <% medium_category.small_categories.each do |small_category| %>
      <div><%= small_category.name %></div>
    <% end %>

  </br>

  <% end %>
</div>