
<div>カテゴリ一覧</div>

<div>
  <% @medium_categories.each do |medium_category| %>
  <br/>
    <%= link_to medium_category.name, categories_path(large_category_id: medium_category.large_category.id, medium_category_id: medium_category.id) %>
  <% end %>

</div>

<div>
    <% if @small_categories.present? %>
      <% @small_categories.each do |small_category| %>
        <%= link_to small_category.name, items_path(small_category_id: small_category.id) %>
      <% end %>
    <% else %>
    <% end %>
</div>
