
<div><%= @large_category.name %> ></div>

</br>

<div>
  <% @medium_categories.each do |medium_category| %>

  <div class="font_weight underline"><%= medium_category.name %></div>

    <div class="left-space-20">
      <% medium_category.small_categories.each do |small_category| %>
        ><%= link_to small_category.name, items_path(small_category_id: small_category.id) %>
      </br>
    <% end %>
    </div>

    </br>

  <% end %>
</div>
